/* All odd numbered elements: a light red/pink background, 
and a list of fonts containing Verdana and DejaVu Sans with sans-serif as a fallback
The second element: blue text and a font size of 36px
The third element: in addition to the styles for all odd numbered elements, add a font size of 24px
The fourth element: a light green background, a font size of 24px, and bold */

.odd {
  background-color: rgb(255, 182, 193);
  font-family: Verdana, Tahoma, sans-serif; 
  }

.odd.cool {
  font-size: 24px;
}
#even-id{
  color: #0000FF;
  font-size: 36px; 
}
#fourth {
  background-color: #90EE90; 
  font-size: 24px;
  font-weight: bold; 
}
